<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-omniReRank.ZPM">
    <Module>
      <Name>dc-omniReRank</Name>
      <Version>0.0.7</Version>
      <Description>dc.omniReRank — SQL-callable rerank gateway for InterSystems IRIS (Cohere provider)</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.omniReRank.PKG"/>
      <UnitTest Name="/tests" Package="dc.omniReRank.unittests" Phase="test"/>

    </Module>
  </Document>
</Export>